<h1>Your comment has been submitted.</h1>
<p>Author: {{comment.author}}</p>
<p>Comment: {{comment.comment}}</p>
<p>Product Id: {{comment.product}}</p>

<p>
  <a href="/products/{{comment.product}}">Go back</a>
</p>